#input-panel {
    display: table;
}
#checkbox-panel, #text-panel {
    display: table-cell;
    padding: 1em;
}
li {
    display: table-row;
}
label, input {
    display: table-cell;
    text-align: right;
    padding: 2px;
}
#text-panel input {
    width: 23em;
}
.new-option {
    color: orange;
}