<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>releaseNumber</param-name>
        <param-value>@VERSION@</param-value>
    </context-param>
    <context-param>
        <param-name>releaseDate</param-name>
        <param-value>@RELEASE_DATE@</param-value>
    </context-param>
    <context-param>
        <param-name>productionRelease</param-name>
        <param-value>@PRODUCTION_RELEASE@</param-value>
    </context-param>    
    <env-entry>
        <env-entry-name>productionRelease</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>@PRODUCTION_RELEASE@</env-entry-value>
    </env-entry>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/opsmya0</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya3</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya4</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya5</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya6</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya7</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/opsmya8</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/devmya0</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/devmya1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/devmya2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/devmya3</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/devmya4</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/devmya5</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>    
</web-app>
